{% extends 'base.html' %}{% load static %}

{% block title %}{% if object %}Editar{% else %}Nuevo{% endif %} Expediente{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>{% if object %}Editar{% else %}Nuevo{% endif %} Expediente</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% if field.name == 'persona_consejera' or field.name == 'medidas_proteccion' %}
                            {%  if user.is_admin or user.es_coordinador %}
                                {{ field }}
                            {% else %}
                            <P class="form-control-plaintext">Campo restringido</P>
                            {% endif %}
                        {% else %}
                            {{ field }}
                        {% endif %}

                        {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'expediente_list' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Tipos de violencia</h5>
            </div>
            <div class="card-body">
                <p class="text-muted">
                    <b>Violencia laboral:</b> Conductas en el trabajo que dañen tu integridad, salud o derechos laborales.
                    Discriminación
                </p>
                <p class="text-muted">
                    <b>Acoso laboral:</b> Acciones repetidas que busquen intimidarte, aislarte o desgastarte emocionalemente en el trabajo.
                </p>
                <p class="text-muted">
                    <b>Hostigamiento sexual:</b> Conductas sexuales no deseadas realizadas por alguien con mayor jerarquía.
                </p>
                <p class="text-muted">
                    <b>Acoso sexual:</b> Conductas sexuales no desadas que pueden venir de cualquier persona en el entorno laboral. No importa el nivel jerárquico.
                </p>
                <p class="text-muted">
                    <b>Discriminación laboral:</b> Trato desigual basado en características personales como sexo, embarazo, edad u otra condición.
                </p>
                <p class="text-muted">
                    <b>Violencia por razón de género:</b> Trato injusto o conductas que te afectan por tu género y limitan tus derechos u oportunidades.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
                <h5>Jerarquías de acoso</h5>
            </div>
            <div class="card-body">
                <p class="text-muted">
                        <b>Violencia horizontal:</b> Cuando ocurre entre personas del mismo nivel jerárquico (compañeros).
                    </p>
                    <p class="text-muted">
                        <b>Violenca vertical descendente:</b> Cuando una persona con mayor jerarquía ejerce violencia hacia un subordinado.
                    </p>
                    <p class="text-muted">
                        <b>Violencia vertical ascendente:</b> Cuando una o varias personas subordinadas ejercen violencia hacia un superior.
                    </p>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
    document.querySelectorAll('input, select, textarea').forEach(function (input) {
        if (input.type !== 'checkbox') {
            input.classList.add('form-control');
        } else {
            input.classList.add('form-check-input');
        }
    });
</script>
<!--script src="{% static 'scripts/toggleJerarquia.js' %}"></script-->
{% endblock %}
{% endblock %}